<%- include ('../partials/head') %>
<div class="d-flex flex-column" style="height:100vh;">
    <%- include ('../partials/menu') %>
    <div class="d-flex align-items-center justify-content-center" style="flex: 1 1 100%;">
        <div class="container text-center">
            <h1>Will C Johnson</h1>
            <h5 class="text-secondary">Website Developer</h5>
        </div>
    </div>
</div>
<div class="flex-container row justify-content-center">
    <div class="col-lg-10 col-sm-12">
        <div class="container mb-5">
            <h2>Portfolio</h2>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mb-3">
                <div class="col">
                    <a href="#">
                        <div class="card bg-dark text-white portfolio-card">
                            <img src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-image_large.png?format=jpg&quality=90&v=1530129081"
                                class="card-img" alt="...">
                            <div class="card-img-overlay d-flex justify-content-center align-items-center portfolio-overlay">
                                <h5 class="card-title">Card Title</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <a class="link-secondary" href="#">View All</a>
        </div>
        <div class="container mb-5">
            <h2>Recent Posts</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
                <div class="col">
                  <div class="card h-100">
                    <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                </div>
              </div>
              <a class="link-secondary" href="#">View All</a>
        </div>
    </div>
</div>
<%- include ('../partials/footer') %>