<header>
    <nav class="navbar navbar-expand-sm">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-collapse"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-around m-2" id="navbar-collapse">
          <h3><strong>WCJ</strong></h3>
          <ul class="navbar-nav">
            <li class="nav-item mx-5"><a class="nav-link" href="/portfolio">Portfolio</a></li>
            <li class="nav-item mx-5"><a class="nav-link" href="/portfolio">Solutions</a></li>
            <li class="nav-item mx-5"><a class="nav-link" href="/portfolio">Blog</a></li>
          </ul>
        </div>
      </div>
    </nav>
   </header>